header {
  background: var(--white);
  box-shadow: 0px 5px 11px rgba(29, 0, 62, 0.07);
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;

    .isOpen {
      display: block;
    }
  }

  img {
    width: 157px;
    margin: 35px 65px 33px 50px;
  }

  a {
    text-decoration: none;
    color: #7f88a0;
    font-family: var(--fontStyle);
    font-size: 18px;
    margin: 40px 85px 40px 0;
  }

  .right_navigation {
    margin-right: 20px;

    i {
      display: none;
    }
  }
}

@media only screen and (max-width: 568px) {
  header {
    height: auto;
    display: block;

    .left_navigation {
      display: block;

      .isClose {
        display: none;
      }

      a {
        display: block;
        margin: 5px 0 5px 25px;
        font-size: 15px;
      }
    }

    .right_navigation {
      a,
      Button {
        display: none;
      }

      i {
        display: flex;
        position: absolute;
        top: 15px;
        right: 30px;
      }
    }

    img {
      width: 107px;
      margin: 15px 45px 13px 20px;
    }
  }
}
